main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #e0ca66;
  --secondary: #a3d9ff;
  --tertiary: #1371ac;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

.homepage-bgimage {
  background-image: url(./assets/images/bluebg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  border-radius: 5px;
  color: var(--secondary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 0 20px;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

nav {
  display: flex;
  float: right;
  flex-direction: row;
  width: 75%;
}

nav ul {
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 150%;
  margin: 50px;
  padding: 10px;
}

nav ul li:hover {
  background: var(--tertiary);
  color: black;
  box-shadow: inset 0 100px 0 0 #748dcd;
  cursor: pointer;
}

.nav-item {
  margin-left: 35px;
}

.nav-items {
  border: 1px solid var(--tertiary);
}

.navActive {
  color: var(--secondary);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
  width: 100%;
  display: flex;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}


/* Contact css start */
.get_item {
  margin-top: 25px;
  align-items: center;
}

.contact-area {
  margin-bottom: 70px;
  padding: 120px 0;
}

.section_title_two {
  margin-bottom: 70px;

}

.section_title_two h6 {
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--tertiary);
}

/* End Contact Section */

.letter {
  width: 500px;
  margin: 0 auto; 
  transition-property: width;
  transition-duration: 2s;
  color: var(--tertiary);
}

.letter:hover {
  width: 50px;
}

.footer {
  position: "fixed";
  margin-bottom: 0px;

}

@media screen and (max-width: 960px) {
  .container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
  .footer-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {

  .container  {
    font-size: 20px;
    margin-top: -50px;
    margin-right: 25px;
  }

  .container> h2  {
    font-size: 20px;
    margin-top: -50px;
    margin-right: 25px;
  }

 h4  {
    font-size: 20px;
    margin-top: -0px;
    margin-right: 200px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 35%;
    height: 25%
  }
}